<ion-content class="ion-padding">
  <div class="kotak">
    <div align="center">
      <img src="../../assets/taxi.png" alt="" width="200">
    </div>
    
    <h1 class="ion-text-center">Taxi Online</h1>

    <ion-label position="stacked">Username</ion-label>
    <ion-input type="text" placeholder="Username" [(ngModel)]="email"></ion-input>
    <ion-label position="stacked">Pasword</ion-label>
    <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
    <ion-button expand="block" (click)="login()">
      Login
    </ion-button>
    <ion-button  expand="block" fill="clear" (click)="daftar()">
      Daftar disini
    </ion-button>
  </div>
</ion-content>